Brotli==1.1.0
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
cryptography==3.4.8
idna==3.3
lxml==5.3.2
mutagen==1.47.0
numpy==1.21.5
orjson==3.10.16
packaging==21.3
protobuf==3.12.4
psutil==5.9.0
pycparser==2.22
pycryptodomex==3.22.0
pyparsing==3.2.3
python-dotenv==1.1.0
requests==2.26.0
ruff==0.11.2
six==1.17.0
typing-extensions==3.10.0.2
urllib3==1.26.5
websockets==15.0.1
